%label{for: "source_plates"}
  = "Source plates (#{ProcessPlate::RECEIVE_PLATES_MAX} max.)"
= text_area_tag "source_plates", '', :rows => ProcessPlate::RECEIVE_PLATES_MAX + 1,:cols => 80
.live_results.block#barcodes_scanned 0 barcodes
:javascript
  $('#source_plates').focus();
  $('#source_plates').trigger('change');
  $('#source_plates').keyup(function() {
    recalcNumBarcodes('#source_plates', #{ProcessPlate::RECEIVE_PLATES_MAX});
  });
