<textarea id="barcode_text" class="form-control" style="flex:1;padding:8px 5px;line-height:1.2em;white-space:pre-wrap;overflow:auto;outline:none;min-height:1.2em;border:none;resize:vertical;"></textarea>


<input type="hidden" id="robot_input" name="robot">
<div id="barcodes_scanned" style="margin-top:6px;">0 barcodes</div>

<script>
const editor = document.getElementById('barcode_text'),
      lineNumbers = document.getElementById('lineNumbers'),
      hiddenInput = document.getElementById('robot_input'),
      display = document.getElementById('barcodes_scanned');

editor.innerText='';
</script>

<%= javascript_include_tag('barcode_reader.js') %>
