%p{style: "margin-left: 40px;color: green;background-color: #e8f5e9;padding: 10px; width: 80%"}
  Labware marked for destruction will have their locations updated in LabWhere,
  to the destroyed location as well.
%label{for: "robot"} Source labware
= text_area_tag "robot", '', :rows => 25,:cols => 80
:javascript
  $("#source_plates").focus();
  $("#source_plates").trigger("change");
