%p{style: "color: green;background-color: #e8f5e9;padding: 10px"}
  Labware marked for destruction will have their locations updated in LabWhere,
  to the destroyed location as well.
%label{for: "robot"} Source labware
= text_area_tag "robot", '', :rows => 25,:cols => 80
.live_results.block#barcodes_scanned 0 barcodes
:javascript
  $("#source_plates").focus();
  $("#source_plates").trigger("change");
  $('#robot').keyup(function() {
    recalcNumBarcodes('#robot', #{ProcessPlate::RECEIVE_PLATES_MAX});
  });
